# Q1.
```
* * * * * 
* * * * * 
* * * * * 
* * * * * 
* * * * * 
```

In [53]:
n = int(input("N: "))
for i in range(n):
    for j in range(n):
        print("*", end=" ")
    print()

* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

# Q2.
```
* 
* * 
* * * 
* * * * 
* * * * * 
```

In [54]:
n = int(input("N: "))
for i in range(n):
    for j in range(i+1):
        print("*", end=" ")
    print()

*
* *
* * *
* * * *
* * * * *

# Q3.
```
1 
1 2 
1 2 3 
1 2 3 4 
1 2 3 4 5 
```

In [52]:
n = int(input("N: "))
for i in range(n):
    for j in range(i+1):
        print(j+1, end=" ")
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

# Q4.
```
1 
2 2 
3 3 3 
4 4 4 4 
5 5 5 5 5 
```

In [51]:
n = int(input("N: "))
for i in range(n):
    for j in range(i+1):
        print(i+1, end=" ")
    print()

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

# Q5.
```
* * * * * 
* * * * 
* * * 
* * 
* 
```

In [50]:
n = int(input("N: "))
for i in range(n):
    for j in range(n-i):
        print("*", end=" ")
    print()

* * * * *
* * * *
* * *
* *
*

In [2]:
n = 5
line = lambda n : "* " * n
for i in range(n):
    print(line(n-i))

* * * * *
* * * *
* * *
* *
*

# Q6.
```
1 2 3 4 5 
1 2 3 4 
1 2 3 
1 2 
1 
```

In [49]:
n = int(input("N: "))
for i in range(n):
    for j in range(n-i):
        print(j+1, end=" ")
    print()

1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

# Q7.
```
    *    
   ***   
  *****  
 ******* 
********* 
```

In [48]:
n = int(input("N: "))
for i in range(n):
    for j in range(n-i-1):
        print(" ", end="")
    for j in range(i+1):
        print("*", end="")
    for j in range(i):
        print("*", end="")
    print()

    *
   ***
  *****
 *******
*********

# Q8.
```
*********
 ******* 
  *****  
   ***   
    *   
```

In [47]:
n = int(input("N: "))
for i in range(n):
    for j in range(i):
        print(" ", end="")
    for j in range(n-i):
        print("*", end="")
    for j in range(n-i-1):
        print("*", end="")
    print()

*********
 *******
  *****
   ***
    *

# Q9.
```
    *    
   ***   
  *****  
 ******* 
*********
*********
 ******* 
  *****  
   ***   
    *   
```

In [46]:
n = int(input("N: "))
for i in range(n):
    for j in range(n-i-1):
        print(" ", end="")
    for j in range(i+1):
        print("*", end="")
    for j in range(i):
        print("*", end="")
    print()
for i in range(n):
    for j in range(i):
        print(" ", end="")
    for j in range(n-i):
        print("*", end="")
    for j in range(n-i-1):
        print("*", end="")
    print()

    *
   ***
  *****
 *******
*********
*********
 *******
  *****
   ***
    *

# Q10.
```
*
**
***
****
*****
****
***
**
*
```

In [40]:
n = int(input("N: "))
for i in range(n):
    for j in range(i+1):
        print("*", end="")
    print()
for i in range(n):
    for j in range(n-i-1):
        print("*", end="")
    print()

*
**
***
****
*****
****
***
**
*

# Q11.
```
1 
0 1 
1 0 1 
0 1 0 1 
1 0 1 0 1 
```

In [39]:
n = int(input("N: "))
for i in range(n):
    for j in range(i+1):
        if (i+j)%2 == 0:
            print(1, end=" ")
        else:
            print(0, end=" ")
    print()

1
0 1
1 0 1
0 1 0 1
1 0 1 0 1

In [4]:
n = int(input("N: "))
one = lambda i, j : (i+j)%2==0
# print(one)
for i in range(n):
    for j in range(i+1):
        if one(i, j):
            print(1, end=" ")
        else:
            print(0, end=" ")
    print()

1
0 1
1 0 1
0 1 0 1
1 0 1 0 1

# Q12.
```
0 
1 0 
0 1 0 
1 0 1 0 
0 1 0 1 0 
```

In [37]:
n = int(input("N: "))
for i in range(n):
    for j in range(i+1):
        if (i+j)%2 == 0:
            print(0, end=" ")
        else:
            print(1, end=" ")
    print("")

0
1 0
0 1 0
1 0 1 0
0 1 0 1 0

# Q13.
```
1                 1 
1 2             2 1 
1 2 3         3 2 1 
1 2 3 4     4 3 2 1 
1 2 3 4 5 5 4 3 2 1 
```

In [45]:
n = int(input("N: "))
for i in range(n):
    for j in range(i+1):
        print(j+1, end=" ")
    for j in range(n-i-1):
        print(" ", end=" ")
    for j in range(n-i-1):
        print(" ", end=" ")
    for j in range(i+1, 0, -1):
        print(j, end=" ")
    print()

1                 1
1 2             2 1
1 2 3         3 2 1
1 2 3 4     4 3 2 1
1 2 3 4 5 5 4 3 2 1

# Q14.
```
A 
A B 
A B C 
A B C D 
A B C D E 
```

# Q15.
```
A B C D E 
A B C D 
A B C 
A B 
A 
```

# Q16.
```
A 
B B 
C C C 
D D D D 
E E E E E 
```

# Q17.
```
        A         
      A B A       
    A B C B A     
  A B C D C B A   
A B C D E D C B A 
```

# Q18.
```
E 
E D 
E D C 
E D C B 
E D C B A 
```

# Q19.
```
* * * * * * * * * * 
* * * *     * * * * 
* * *         * * * 
* *             * * 
*                 * 
*                 * 
* *             * * 
* * *         * * * 
* * * *     * * * * 
* * * * * * * * * * 
```

In [ ]:
n = int(input("N: "))
for i in range(n):
    for j in range(n-i):
        print("*", end=" ")
    for j in range(i):
        print(" ", end=" ")
    for j in range(i):
        print(" ", end=" ")
    for j in range(n-i):
        print("*", end=" ")
    print("\n")
for i in range(n):
    for j in range(i+1):
        print("*", end=" ")
    for j in range(n-i-1):
        print(" ", end=" ")
    for j in range(n-i-1):
        print(" ", end=" ")
    for j in range(i+1):
        print("*", end=" ")
    print("\n")

# Q20.
```
*                 * 
* *             * * 
* * *         * * * 
* * * *     * * * * 
* * * * * * * * * * 
* * * *     * * * * 
* * *         * * * 
* *             * * 
*                 * 
```

In [ ]:
n = int(input("N: "))
for i in range(n-1):
    for j in range(i+1):
        print("*", end=" ")
    for j in range(n-i-1):
        print(" ", end=" ")
    for j in range(n-i-1):
        print(" ", end=" ")
    for j in range(i+1):
        print("*", end=" ")
    print()
for i in range(n):
    for j in range(n-i):
        print("*", end=" ")
    for j in range(i):
        print(" ", end=" ")
    for j in range(i):
        print(" ", end=" ")
    for j in range(n-i):
        print("*", end=" ")
    print()

# Q21.
```
*****
*   *
*   *
*   *
*****
```

In [ ]:
n = int(input("N: "))
print("*" * n)
for i in range(n-2):
    print("*", end="")
    print(" " * (n - 2), end="")
    print("*")
print("*" * n)

# Q22.
```
555555555
544444445
543333345
543222345
543212345
543222345
543333345
544444445
555555555
```